<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게임 추천 사이트</title>
</head>
<body>
    <form action="\post" method="post" class="input-form">
        플레이하는 게임을 소문자로 입력하세요(정식 명칭, 쉼표로 구분) : <textarea type="text" name='games' class="input-text" placeholder="여기에 입력하세요"></textarea>
        <input type="submit" value="submit" class="input-btn">
    </form>
</body>
</html>